.form-login {
    width: 100%;
    max-width: 700px;
    padding: 15px;
    margin: auto;   
    background: #000;
    margin-top: 50px;
}

.form-control {
    margin-bottom: 15px;
}

ng-otp-input {
    margin-bottom: 15px;
}

.col-login {
    margin-top: 35px;
}