<table class="table table-sm table-striped small">
    <thead>
        <tr>
            <th scope="col">Channel ID</th>
            <th scope="col">Node 1</th>
            <th scope="col">Node 2</th>
            <th scope="col">N1 Base fee</th>
            <th scope="col">N1 Fee rate</th>
            <th scope="col">N2 Base fee</th>
            <th scope="col">N2 Fee rate</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let item of getChannels()">
            <tr [class.error]="!item.node1_policy || !item.node2_policy">
                <th scope="row">{{ item.channel_id }}</th>
                <ng-template [ngIf]="ringData.getViewMode() == 'tg'" [ngIfElse]="elseBlock">
                    <td>{{ getUsername(item.node1_pub) }}</td>
                    <td>{{ getUsername(item.node2_pub) }}</td>
                </ng-template>
                <ng-template #elseBlock>
                    <td>{{ getAlias(item.node1_pub) }}</td>
                    <td>{{ getAlias(item.node2_pub) }}</td>
                </ng-template>
                <td *ngIf="item.node1_policy && item.node1_policy.disabled == false">{{ item.node1_policy.fee_base_msat }}</td>
                <td *ngIf="item.node1_policy && item.node1_policy.disabled == false">{{ item.node1_policy.fee_rate_milli_msat }}</td>
                <td *ngIf="item.node2_policy && item.node2_policy.disabled == false">{{ item.node2_policy.fee_base_msat }}</td>
                <td *ngIf="item.node2_policy && item.node2_policy.disabled == false">{{ item.node2_policy.fee_rate_milli_msat }}</td>
            </tr>
        </ng-container>
    </tbody>
</table>
<!-- <form class="form-inline">
    <label class="sr-only" for="inlineFormInputGroupUsername2">Pubkey</label>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="bi bi-key"></i></div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Node public key">
    </div>
  
    <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text">@</div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="TG Username">
    </div>
  
    <button type="submit" class="btn btn-primary mb-2">Add</button>
  </form> -->
  <form>
    <div class="form-group">
      <label for="pubkeys">Pubkeys</label>
      <textarea class="form-control" id="pubkeys" rows="3" [(ngModel)]="pubkeysText" [ngModelOptions]="{standalone: true}"></textarea>
      <button (click)="processPubkeys()" class="btn btn-primary mb-2">Process Pubkeys</button>
      <button (click)="processGroupnodes()" class="btn btn-primary mb-2">Process Groupnodes</button>
    </div>
  </form>