<table class="table table-sm table-striped small">
    <thead>
        <tr>
            <th scope="col">Channel ID</th>
            <th scope="col">Node 1</th>
            <th scope="col">Node 2</th>
            <th scope="col">N1 Base fee</th>
            <th scope="col">N1 Fee rate</th>
            <th scope="col">N2 Base fee</th>
            <th scope="col">N2 Fee rate</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let item of participants; let i = index">
            <tr [class.error]="item.channel_id && (!item.initiator_fee || !item.receiver_fee)">
                <th scope="row" [style.background-color]="getColor(i)" class="channelCol">{{ item.channel_id }}</th>
                <ng-template [ngIf]="settings.viewMode == 'tg'" [ngIfElse]="elseBlock">
                    <td>{{ getUsername(item.initiator) }}</td>
                    <td>{{ getUsername(item.receiver) }}</td>
                </ng-template>
                <ng-template #elseBlock>
                    <td *ngIf="item.initiator" class="node_key"><span>{{ item.initiator?.node?.alias }}</span></td>
                    <td *ngIf="item.receiver" class="node_key"><span>{{ item.receiver?.node?.alias }}</span></td>
                </ng-template>
                <td><span *ngIf="item.initiator_fee">{{ item.initiator_fee.fee_base_msat }}</span></td>
                <td><span *ngIf="item.initiator_fee">{{ item.initiator_fee.fee_rate_milli_msat }}</span>
                </td>
                <td><span *ngIf="item.receiver_fee">{{ item.receiver_fee.fee_base_msat }}</span></td>
                <td><span *ngIf="item.receiver_fee">{{ item.receiver_fee.fee_rate_milli_msat }}</span></td>
            </tr>
        </ng-container>
    </tbody>
</table>