<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <p>Welcome to Ringtools Web. Although there is quite some nice functionality, it is not without issues.
            Please report them on GitHub if you encounter them, enjoy!</p>
            <h3>Known issues</h3>
            <ul>
              <li>If you directly load the ringtools on the design/watch page the node-information is not loaded yet, switch to the home/settings page and back to make it work.</li>
              <li>Channel updates broke after implementing ngrx state.</li>
              <li>The custom LND PubSub server setting is not working yet, since the library is not supporting easy switching.</li>
            </ul>
        </div>
        <div class="col-md-6">
        <a [href]="fileUrl" download="channels.txt" (click)="downloadChannelsTxt()">Download channels.txt</a>
    </div>
    </div>
</div>