<div class="container-fluid">
  <div class="row">
    <div class="col-md-8">
      <h1>Welcome to Ringtools Web <span   *ngIf="testnet">for Testnet 🧪 </span></h1>
      <p> Although there is quite some nice functionality, it is not without issues.
        Please report them on <a href="https://github.com/ringtools/ringtools-web/issues" target="_blank"><i
            class="bi bi-github"></i> GitHub</a> if you encounter them, enjoy!</p>
      <h4>How does this work</h4>
      <p>
        Ring Participants and their information (loaded from the CSV) will be stored in your browser (LocalStorage)</p>
     
      <h4>Acknowledgements</h4>
      <ul>
        <li>Based on the work by <a href="https://github.com/StijnBTC/Ringtools" target="_blank">@stijnbtc</a></li>
        <li>Motivated by the amazing <a href="https://satoshiradio.nl/" target="_blank">Satoshi Radio community</a></li>
        <li>Logo by <a href="https://www.nogood.store/" target="_blank">NoGood</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <img src="/assets/logo.svg" width="95%" class="roflogo">
    </div>
  </div>
</div>

<footer class="container-fluid fixed-bottom p-4">
  <div class="row text-center">
    <div class="col-lg-12">
      <span  class="testnet" *ngIf="testnet">Testnet 	🧪  |</span>
      <a href="http://docs.rof.tools/" target="_blank"><i
        class="bi bi-book"></i>
      Documentation</a> | 
      <a href="https://github.com/ringtools" target="_blank"><i
          class="bi bi-github"></i>
        GitHub</a> | <a href="https://ln.bitcoinbeach.com/de_joeri" target="_blank"><i
          class="bi bi-currency-bitcoin"></i>
          Donate</a>
    </div>

  </div>
</footer>
