#circle,
#circle .segment {
    border-color: lightgray;
    border-radius: 50%;
    border-style: solid;
    border-width: 10px;
    box-sizing: border-box;
    height: 250px;
    position: relative;
    width: 250px;
}

#circle .segment {
    -webkit-clip-path: inset(0 40px 50px 40px);
    /*content: ''; EDIT: not needed */
    left: -10px;
    position: absolute;
    top: -10px;
}

.participants {
    padding-top: 40px;
}

$columns: 8;

$themeColours: #dc51ac, #d64651, #e55937, yellow, blue, green, purple, lightblue, black;

@function getDegreesPerSegment() {
    @return 360deg / $columns;
}

@for $i from 1 through $columns {
    #circle .segment:nth-child(#{$i}) {
        border-color: nth($themeColours, $i);
        transform: rotate(getDegreesPerSegment() * $i - 20);
    }
}

.participants table.table-striped tbody tr:nth-child(3),
.participants table.table-striped tbody tr:nth-child(10) {
    background-color: lightcoral;
}

#circle2 {
    $colors: ();
    $newcolors: linear-gradient(white, white);
    margin: 25px 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 12px solid transparent;
    background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
    background-repeat: no-repeat;
    background-position: center center, left top, right top, left bottom, right bottom;
    background-origin: content-box, border-box, border-box, border-box, border-box;
    background-clip: content-box, border-box, border-box, border-box, border-box;
    transform: rotate(getDegreesPerSegment());

    @for $i from 1 through $columns {
        $newcolors: append(
            $newcolors,
            linear-gradient(getDegreesPerSegment() * $i, nth($themeColours, $i) 36%, nth($themeColours, $i + 1) 30%),
            $separator: comma
        );
    }

    background-image: $newcolors;
}
