<div class="container-fluid">
  <div class="row">
    <div *ngIf="visNetworkData" class="col-md-10">
      <h3>Ring Designer
        <div class="btn-group btn-small small btn-group-toggle" ngbRadioGroup name="names"
                    [(ngModel)]="viewMode" (ngModelChange)="viewChange($event)">
                    <label ngbButtonLabel class="btn-primary btn-sm">
                        <input ngbButton type="radio" value="node"> Nodename
                    </label>
                    <label ngbButtonLabel class="btn-primary btn-sm">
                        <input ngbButton type="radio" value="tg"> TG username
                    </label>
                </div>
      </h3>
      <div class="network-canvas" [visNetwork]="visNetwork" [visNetworkData]="visNetworkData"
        [visNetworkOptions]="visNetworkOptions" (initialized)="networkInitialized()"></div>
    </div>
    <div class="col-md-2">
      <h3>Ring order</h3>
      <ul class="list-group" dragula="PARTICIPANTS" id="participants" [(dragulaModel)]="segments">
        <li class="list-group-item" *ngFor="let s of segments">
          <ng-template [ngIf]="viewMode == 'tg'" [ngIfElse]="elseBlock">
            {{ s.user_name }}
        </ng-template>
        <ng-template #elseBlock>
          {{ s.nodename }}
        </ng-template>
         
        </li>
      </ul>

      <button type="button" class="btn btn-warning btn-lg btn-block" (click)="persistOrder()">Persist channel order</button>
      <button type="button" class="btn btn-primary btn-lg btn-block" (click)="downloadChannelsTxt()">Download channels.txt</button>
      <button type="button" class="btn btn-success btn-lg btn-block" (click)="downloadPubKeysTxt()">Download pubkeys.txt</button>
      <button type="button" class="btn btn-secondary btn-lg btn-block" (click)="downloadIgniterPubkeys()">Download igniter.sh pubkeys</button>

    </div>
  </div>
</div>