/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import 'dark.scss';
@import '~bootstrap/scss/bootstrap';
@import 'bootswatch.scss';

@import '~vis-network/styles/vis-network.css';
@import '~bootstrap-icons/font/bootstrap-icons.scss';

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/lato-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/assets/fonts/lato-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/assets/fonts/lato-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/lato-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/lato-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/assets/fonts/lato-v20-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

html {
  width: 100%;
  height: 100%;
}

/* Dragula */

/* in-flight clone */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
  }
  /* high-performance display:none; helper */
  .gu-hide {
    left: -9999px !important;
  }
  /* added to mirrorContainer (default = body) while dragging */
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  /* added to the source element while its mirror is dragged */
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }

/* emd dragila */

body {
    padding-top: 60px;
}