#pubkeys {
    font-family: monospace;
    font-size: 0.85em;
    background: #000;
    color: green;
    height: 300px;
}

.service-icon {
    width: 16px;
    height: 16px;
}

.no-padding {
    padding: 2px 0;
}

#pubkey {
    width: 100%;
}