<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="ringName">Ringname</label>
                    <input type="text" class="form-control" id="ringName" placeholder="Ring Name" [(ngModel)]="ringName"
                        [ngModelOptions]="{standalone: true}">
                    <button (click)="processRingname()" class="btn btn-primary mb-2">Save Ring Name</button>
                </div>
                <div class="form-group">
                    <label for="pubkeys">Import groupnodes from 🧀 CheeseRobot ₿</label>
                    <textarea class="form-control" id="pubkeys" rows="3" [(ngModel)]="pubkeysText"
                        [ngModelOptions]="{standalone: true}" spellcheck="false" ></textarea>
                    <button (click)="processGroupnodes()" class="btn btn-primary mb-2">Import Groupnodes</button>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <table class="table table-sm table-striped small">
                <thead>
                    <tr>
                        <th scope="col">Public Key</th>
                        <th scope="col">Nodename</th>
                        <th scope="col">TG username</th>
                        <th scope="col">Capacity</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of cbNodeOwners$ | async">
                        <tr>
                            <th scope="row">{{ item.pub_key }}</th>
                            <td>{{ item.nodename }}</td>
                            <td>{{ item.user_name }}</td>
                            <td>{{ item.capacity_sat }}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <button (click)="saveRingSettings()" class="btn btn-primary mb-2">Save Ring Settings</button>

            <h3>Saved Rings</h3>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center"  *ngFor="let item of ringSettings$ | async">
                  {{ item.cleanRingName }}
                  <div class="btn-group btn-small small btn-group-toggle" ngbRadioGroup
                    >
                    <label ngbButtonLabel class="btn-success btn-sm">
                        <input ngbButton type="radio" value="node" (click)="loadSettings(item)"> Load
                    </label>
                    <label ngbButtonLabel class="btn-danger btn-sm">
                        <input ngbButton type="radio" value="tg" (click)="removeSettings(item)"> Remove
                    </label>
                </div>
                </li>
                
              </ul>
        </div>
    </div>
</div>